* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {

    background: black;

    min-height: 100vh;

    display: flex;

    flex-direction: column;


}


/* HEADER */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background: #0f172a;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {

    font-size: 30px;
    font-weight: bold;

}


/* NAV */

nav {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

nav a {

    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    display: inline-block;
    font-size: 18px;

}

nav a::after {

    content: "";

    position: absolute;

    width: 50px;

    height: 3px;

    background: aqua;

    left: 50%;

    bottom: -5px;

    transform:

        translateX(-50%) scaleX(0);

    transition: .3s;

}

nav a:hover::after {

    transform:

        translateX(-50%) scaleX(1);

}


/* MAIN */

main {

    flex: 1;

    overflow-y: auto;

    scroll-behavior: smooth;


}


/* SECTION */

section {

    padding: 25px;
    margin: 5px;
    min-height: 100vh;


}

@keyframes fadeInScale {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}


/* HERO */

#home {

    background: rgb(6, 1, 62);
    position: relative;

    overflow: hidden;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 70px;

    gap: 30px;



}

#tube-canvas {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: 0;

    pointer-events: none;

}



.bg-circle,
.bg-circle2 {

    display: none;

}

/* LEFT */

.left {
    position: relative;

    flex: 1;

    min-width: 300px;

    z-index: 2;

}


/* RIGHT */

.right {
    position: relative;

    flex: 1;

    display: flex;

    justify-content: flex-end;

    z-index: 2;

}


/* IMAGE */

.profile {

    width: 300px;

    height: auto;

    object-fit: contain;
    border-radius: 50%;

    margin: 0;
    animation: float 3s ease-in-out infinite;

}

@keyframes float {

    0% {

        transform: translateY(0);

    }

    50% {

        transform: translateY(-20px);

    }

    100% {

        transform: translateY(0);

    }

}


/* TEXT */

#home h1 {
    margin-top: 0;
    font-size: 60px;

    margin-bottom: 15px;

    color: white;

}

#home h2 {

    font-size: 35px;

    margin-bottom: 15px;

    color: white;

    /* opacity: .1;

    transition: .5s; */

}

#home p {

    font-size: 18px;

    margin-bottom: 20px;

    line-height: 1.6;

    max-width: 600px;

    color: white;

    /* opacity: .1;

    transition: .5s; */

}


/* HOVER EFFECT */
/* 
#home h2:hover,

#home p:hover {

    color: white;

    opacity: 1;

} */


/* TYPING */

.typing {

    color: blue;

    border-right: 3px solid;

    white-space: nowrap;

    overflow: hidden;

    display: inline-block;

    width: 0;
    animation:

        typing 3s steps(15) forwards,

        blink .8s infinite;

}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 12ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}





/* BUTTONS */

.buttons button {

    padding: 12px 20px;

    margin-top: 5px;

    margin-right: 10px;

    cursor: pointer;

}


/* BACKGROUND GLOW */
.bg-circle,
.bg-circle2 {

    position: absolute;

    width: 300px;

    height: 300px;

    border-radius: 50%;

    filter: blur(90px);

    opacity: .25;

    pointer-events: none;


    z-index: 0;

}



/* BLUE GLOW */

.bg-circle {

    background: #00E5FF;

}

.bg-circle2 {

    background: #8B5CF6;

}



/* CONTENT ABOVE GLOW */

.left,
.right {

    position: relative;

    z-index: 2;

}


#skills {
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    padding: 40px;


}

/* Heading */

.skill-title {
    color: white;
    font-size: 50px;

    margin-bottom: 40px;

    margin-left: 40px;

}

/* IMAGE + GRID CONTAINER */


.skills-content {

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 60px;

}

.skill-typing {

    color: #a78bfa;

    border-right: 3px solid;

    white-space: nowrap;

    overflow: hidden;

    display: inline-block;

    width: 0;


    animation:

        typingskill 3s steps(15) forwards,

        blink .8s step-end infinite;

}

@keyframes typingskill {
    from {
        width: 0;
    }

    to {
        width: 5ch;
    }
}

.left-side {

    flex: 1;

}

.skill-title {

    font-size: 50px;

    margin-bottom: 30px;

}

.skill-image {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

}



.binary-bg {

    position: absolute;

    font-size: 30px;

    font-weight: bold;

    line-height: 1.3;

    color: #00ff88;

    opacity: 0;

    transition: .5s;

    z-index: 0;

    filter: blur(1px);

    user-select: none;

    text-align: center;

}



/* HOVER EFFECT */

.skill-image:hover .binary-bg {

    opacity: .18;

    transform: scale(1.1);

}


.skill-image img {
    margin-top: 20px;
    width: 550px;
    position: relative;
    z-index: 2;
    height: auto;
    animation: fadeInScale linear;
    animation-timeline: view();
    animation-range: 0% cover 20%;

}






.skills-right {
    padding: 20px;
    border-radius: 20px;
    flex: 1;


}





.skill-grid {

    display: grid;

    grid-template-columns:

        repeat(4, 100px);

    gap: 20px;

    justify-content: center;


}

.skill-box {

    width: 100px;

    height: 100px;

    background: #eee;

    border-radius: 15px;

    display: flex;

    justify-content: center;

    align-items: center;

}

.skill-box:hover {

    animation: cardMove .5s forwards;

}

@keyframes cardMove {

    0% {

        transform: translateY(0);

    }

    100% {

        transform:

            translateY(-10px) scale(1.1);

    }

}

.skill-img {

    width: 60px;

    height: 60px;

    object-fit: contain;

}

/* SKILL BACKGROUND CIRCLES */
.skill-bg-circle,
.skill-bg-circle2 {
    position: absolute;

    width: 300px;

    height: 300px;

    border-radius: 50%;

    filter: blur(90px);

    opacity: .25;

    pointer-events: none;


    z-index: 0;

}

.skill-bg-circle {

    background: #00FF88;

}

.skill-bg-circle2 {

    background: #0066FF;

}



#projects {
    background-color: #000000;
}

.projects {
    position: relative;

    padding: 70px 8%;

    background: #090909;

    overflow: hidden;

}


.project-bg-circle,
.project-bg-circle2 {

    position: absolute;

    width: 350px;

    height: 350px;

    border-radius: 50%;

    pointer-events: none;

    z-index: 1;

    transition: .05s linear;

    filter: blur(120px);

    opacity: .5;

    left: 0;

    top: 0;

}



.project-bg-circle {

    background: #0048ff;

}



.project-bg-circle2 {

    background: #c000ff;

}




.project-head,
.slider {

    position: relative;

    z-index: 2;

}


/* HEADER SECTION */


.project-head {

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 40px;

    margin-bottom: 30px;

    flex-wrap: wrap;

}



.project-text {

    flex: 1;

    min-width: 300px;

}

.tech-used {

    display: flex;

    gap: 12px;

    flex-wrap: wrap;

    margin-top: 20px;

    margin-bottom: 25px;

}

.tech-used span {

    padding: 10px 18px;

    border-radius: 12px;

    background: rgba(255, 255, 255, .08);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, .12);

    color: #dbeafe;

    box-shadow:

        0 0 15px rgba(0, 150, 255, .15);

    font-size: 14px;

    font-weight: 600;

}

.tech-used span:nth-child(1) {

    background: #3a1d1d;

    color: #ff8a65;

}

.tech-used span:nth-child(2) {

    background: #11254d;

    color: #4da6ff;

}

.tech-used span:nth-child(3) {

    background: #3b3215;

    color: #ffd54f;

}

.project-links {

    display: flex;

    gap: 20px;

    margin-top: 25px;

    flex-wrap: wrap;

}



.view-project {

    text-decoration: none;

    color: #67e8f9;

    font-size: 22px;

    font-weight: 600;

    transition: .3s;

}



.view-project:hover {

    transform: translateX(8px);

    color: #38bdf8;

    text-shadow:

        0 0 10px rgba(56, 189, 248, .8);

}






.project-card {

    padding: 28px;

    border-radius: 30px;

}



.small-text {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 12px 28px;

    width: fit-content;

    border-radius: 40px;

    background: rgba(37, 99, 235, .15);

    border: 1px solid rgba(37, 99, 235, .4);

    color: #3b82f6;

    font-size: 18px;

    font-weight: 600;

    letter-spacing: 1px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 20px rgba(37, 99, 235, .25);

    margin-bottom: 25px;

    animation: pulse 2s infinite;

}



@keyframes pulse {

    0% {

        box-shadow: 0 0 10px rgba(37, 99, 235, .2);

    }

    50% {

        box-shadow: 0 0 30px rgba(37, 99, 235, .6);

    }

    100% {

        box-shadow: 0 0 10px rgba(37, 99, 235, .2);

    }

}



.project-text h1 {

    font-size: 55px;

    color: white;

}



.project-text span {

    color: #2563eb;

}



.desc {

    color: gray;

    width: 420px;

    line-height: 30px;

    margin-top: 25px;

}



.head-image {

    flex: 1;

    display: flex;

    justify-content: center;

    min-width: 300px;

}



.head-image img {

    width: 100%;
    padding-top: 20px;
    max-width: 350px;
    height: auto;

    border-radius: 30px;

    box-shadow: 0 0 40px rgba(6, 94, 225, 0.4);

    animation: float 4s ease-in-out infinite;

}

/* MOBILE FIX */




/* PROJECT SLIDER */


.slider {

    display: flex;

    gap: 25px;

    overflow-x: auto;

    scrollbar-width: none;

    scroll-behavior: smooth;

    cursor: grab;

    padding-bottom: 20px;

    user-select: none;

    white-space: nowrap;

}



.slider::-webkit-scrollbar {

    display: none;

}



.slider:active {

    cursor: grabbing;

}







/* CARDS */


.project-card {

    min-width: 340px;

    background: rgba(255, 255, 255, .03);

    backdrop-filter: blur(20px);

    padding: 20px;
    margin-top: 20px;

    border-radius: 25px;

    border: 1px solid rgba(255, 255, 255, .08);

    transition: .4s;

}



.project-card:hover {

    transform: translateY(-12px);

    box-shadow: 0 0 35px rgba(0, 100, 255, .6);

}



.project-image {

    width: 100%;

    height: 220px;

    overflow: hidden;
    display: flex;
    align-items: center;

    border-radius: 20px;

    margin-bottom: 20px;

}



.project-image img {

    width: 100%;

    height: 100%;

    object-fit: contain;

    transition: .5s;

}



.project-card:hover img {

    transform: scale(1.08);

}



.project-card h2 {

    color: white;

    margin-bottom: 15px;

    font-size: 30px;

}



.project-card p {

    color: gray;

    line-height: 30px;

}



/* ANIMATION */


@keyframes slide {

    0% {

        transform: translateX(0);

    }

    100% {

        transform: translateX(-50%);

    }

}



@keyframes float {

    0% {

        transform: translateY(0);

    }

    50% {

        transform: translateY(-20px);

    }

    100% {

        transform: translateY(0);

    }

}



.slider:hover {

    animation-play-state: paused;

}



/* ================= ACHIEVEMENT SECTION ================= */

/* ===== ACHIEVEMENT ===== */

.achievement {

    padding: 80px 8%;

    background: black;
    position: relative;

    overflow: hidden;

}



.achievement-bg-circle,

.achievement-bg-circle2 {

    position: absolute;

    width: 300px;

    height: 300px;

    border-radius: 50%;

    pointer-events: none;

    z-index: 1;

    transition: .05s linear;

    filter: blur(120px);

    opacity: .5;

    left: 0;

    top: 0;

}



.achievement-bg-circle {

    background: #00E5FF;

}



.achievement-bg-circle2 {

    background: #8B5CF6;

}



/* CERTIFICATE HEADING */

.certificate-heading {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;

    position: relative;

    margin-bottom: 30px;

    flex-wrap: nowrap;
    margin-bottom: 60px;

}

.certificate-text {
    text-align: center;
    max-width: 700px;
    z-index: 2;
}

.certificate-text h1 {
    width: max-content;
}

.certificate-text p {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

/* LEAVES */

.left-leaf,

.right-leaf {

    width: 440px;

    height: auto;

    opacity: .95;

    filter:

        drop-shadow(0 0 20px #00e5ff);

    flex-shrink: 0;

}


.left-leaf {
    transform: translateX(150px);
}

.right-leaf {

    transform: translateX(-150px);

}


/* MOBILE FIX */





/* Content above glow */

.achievement-title,

.certificate-container {

    position: relative;

    z-index: 2;

}


.achievement-title {

    text-align: center;

    margin-bottom: 40px;

}


.badge {

    display: inline-block;

    padding: 12px 28px;

    border-radius: 40px;

    border: 1px solid #00d9ff;

    color: #00d9ff;

    background:

        rgba(255, 255, 255, .04);

    backdrop-filter: blur(10px);

    margin-bottom: 20px;

}


.achievement h1 {

    font-size: 65px;

    color: white;

    margin-bottom: 10px;

}


.achievement span {

    color: #00d9ff;

}


.achievement-title p {

    color: gray;

}


/* CONTAINER */

.certificate-container {

    display: flex;

    align-items: center;

    gap: 20px;

    overflow: hidden;

    margin-top: 50px;

}


/* ARROWS */

.arrow {

    width: 60px;

    height: 60px;

    border: none;

    border-radius: 50%;

    background:

        rgba(255, 255, 255, .08);

    color: #00d9ff;

    font-size: 30px;

    cursor: pointer;

    backdrop-filter: blur(10px);

    flex-shrink: 0;

    transition: .3s;

}

.arrow:hover {

    transform: scale(1.1);

}


/* SLIDER */

.certificate-slider {

    display: flex;

    gap: 25px;

    overflow-x: auto;

    scrollbar-width: none;

    scroll-behavior: smooth;

    padding: 20px;

    cursor: grab;

    flex: 1;

}

.certificate-slider::-webkit-scrollbar {

    display: none;

}


/* CARD */

.certificate-card {

    min-width: 320px;

    max-width: 320px;

    padding: 22px;

    border-radius: 28px;

    /* Transparent Glass */

    background:

        rgba(255, 255, 255, .025);

    backdrop-filter:

        blur(22px);

    -webkit-backdrop-filter:

        blur(22px);

    border:

        1px solid rgba(255, 255, 255, .08);

    box-shadow:

        0 8px 32px rgba(0, 0, 0, .25),

        0 0 25px rgba(0, 180, 255, .08);

    overflow: hidden;

    position: relative;

    flex-shrink: 0;

    transition: .4s;

}



/* Shine */

.certificate-card::before {

    content: "";

    position: absolute;

    top: 0;

    left: -120%;

    width: 120%;

    height: 100%;

    background:

        linear-gradient(90deg,

            transparent,

            rgba(255, 255, 255, .05),

            transparent);

    transition: .8s;

}



.certificate-card:hover::before {

    left: 120%;

}



.certificate-card:hover {

    transform:

        translateY(-12px);

    background:

        rgba(255, 255, 255, .04);

    border:

        1px solid rgba(0, 217, 255, .18);

    box-shadow:

        0 0 35px rgba(0, 180, 255, .18);

}

.certificate-card:hover {

    transform: translateY(-10px);

    box-shadow:

        0 0 35px rgba(0, 180, 255, .35);

}


.certificate-image {

    width: 100%;

    height: 180px;

    overflow: hidden;

    border-radius: 15px;

    margin-bottom: 20px;

}


.certificate-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

}


.certificate-card h2 {

    font-size: 32px;

    color: white;

    margin-bottom: 8px;

}


.certificate-card h3 {

    color: #38bdf8;

    margin-bottom: 8px;

}


.certificate-card p {

    color: gray;

    margin-bottom: 20px;

}


.certificate-card a {

    text-decoration: none;

    font-size: 22px;

    font-weight: 600;

    color: #67e8f9;

    transition: .3s;

    display: inline-block;

}


.certificate-card a:hover {

    transform: translateX(8px);

}



/* FOOTER */

footer {

    background: black;

    color: white;

    padding: 10px;

    text-align: center;
    position: sticky;
    font-size: 12px;

    font-weight: bold;

    flex-shrink: 0;

}


/* MOBILE */

@media(max-width:768px) {

    header {

        flex-direction: column;

        gap: 20px;

        padding: 20px;

    }

    nav {

        justify-content: center;

        gap: 25px;

    }

    #home {

        flex-direction: column-reverse;

        justify-content: center;

        align-items: center;

        text-align: center;

        padding: 20px;

        min-height: auto;

    }

    .left {

        width: 100%;

        min-width: auto;

    }

    .right {

        width: 100%;

        justify-content: center;

    }

    .profile {

        width: 220px;

    }

    #home h1 {

        font-size: 50px;

    }

    #home h2 {

        font-size: 28px;

    }

    #home p {

        font-size: 18px;

        max-width: 100%;

    }

    .skills-content {

        flex-direction: column;

    }

    .skill-title {

        text-align: center;

    }

    .skill-image {

        display: flex;

        justify-content: center;

    }

    .skill-image img {

        width: 300px;

    }

    .skill-grid {

        grid-template-columns: repeat(3, 80px);

    }

    .skill-box {

        width: 80px;
        height: 80px;

    }

    .skill-typing {
        transform: translateX(-28px);
    }

    .binary-bg {

        font-size: 16px;

        line-height: 1.8;

        opacity: .08;

        transform: scale(.8);

        max-width: 250px;

        overflow: hidden;

    }

    /* certificate */
    .arrow {

        display: none;

    }

    .achievement h1 {

        font-size: 45px;

    }

    .certificate-card {

        min-width: 260px;

        max-width: 260px;

    }


    .certificate-heading {

        display: flex;

        flex-direction: row;

        justify-content: center;

        align-items: center;

        gap: 15px;

        padding: 0 15px;

    }


    /* Remove Leaves */

    .left-leaf,
    .right-leaf {

        display: none;

    }


    /* Certificate Text */

    .certificate-text {

        display: flex;

        flex-direction: column;

        align-items: center;

        font-size: 15px;
        text-align: center;

        width: 100%;

    }

    #crt {
        display: block;
        margin-top: 10px;
        font-size: 50px;
        transform: translateX(-30px);
    }

    /* Heading */

    .certificate-text h1 {

        white-space: normal;

        font-size: 60px;

        line-height: 1.05;

        max-width: 220px;

        text-align: center;

    }


    /* Paragraph */

    .certificate-text p {

        font-size: 18px;

        line-height: 1.6;

        max-width: 330px;

        padding: 0 15px;

        margin-top: 15px;

        color: gray;

    }


    /* Achievement Title */

    .achievement h1 {

        font-size: 65px;

        text-align: center;

    }


    .achievement-title p {

        font-size: 16px;

        padding: 0 20px;

    }


    /* Cards spacing */

    .certificate-container {

        margin-top: 50px;

    }



    .project-head {

        flex-direction: column;
        text-align: center;
    }





    .project-text h1 {

        font-size: 55px;

    }



    .project-card {

        min-width: 280px;

    }


    .project-text {

        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .desc {

        width: 100%;
        max-width: 400px;

    }



    .head-image img {
        max-width: 260px;
    }

}