* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    background-color: black;
    height: 100vh;

    display: flex;

    flex-direction: column;

    overflow: hidden;

}


/* HEADER */

header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 60px;

    background: #0f172a;

    color: white;

    flex-wrap: wrap;

    flex-shrink: 0;

}

.logo {

    font-size: 30px;

    font-weight: bold;

}

/* NAV */

nav {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

}

nav a {

    position: relative;

    color: white;

    text-decoration: none;

    padding-bottom: 5px;

    display: inline-block;

}

nav a::after {

    content: "";

    position: absolute;

    width: 50px;

    height: 3px;

    background: aqua;

    left: 50%;

    bottom: -5px;

    transform: translateX(-50%) scaleX(0);

    transition: .3s;

}

nav a:hover::after {

    transform: translateX(-50%) scaleX(1);

}

/* MAIN */

main {

    flex: 1;

    overflow-y: auto;

    scroll-behavior: smooth;

}

/* SECTIONS */

section {

    min-height: 100vh;

    padding: 25px;

    scroll-margin-top: 15px;

}

/* HERO SECTION */
#home {
    position: relative;
    overflow: hidden;
    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    padding: 30px 70px;

    gap: 50px;

    flex-wrap: wrap;

}

/* Left Side */

.left {

    flex: 1;

    min-width: 300px;

}

/* Right Side */

.right {

    flex: 1;

    display: flex;

    justify-content: flex-end;

}

/* Profile Image */

.profile {

    width: 350px;

    height: auto;

    border-radius: 50%;

    object-fit: cover;

    margin-left: 100px;

}

/* Heading */

#home h1 {

    font-size: 60px;

    margin-bottom: 20px;
    color: white;

}

#home h2 {

    font-size: 35px;

}
#home p{
    font-size: 20px;
}
#home h2,#home p {

    color: black;
    opacity: .1;
    transition: .5s;

    margin-bottom: 20px;

}
#home h2:hover,#home p:hover{
    color: white;
    opacity: 1;
}

/* Typing Animation */

.typing {

    color: blue;

    border-right: 3px solid;

    white-space: nowrap;

    overflow: hidden;

    display: inline-block;

    width: 0;

    animation:

        typing 3s steps(15) forwards,

        blink .8s infinite;

}

/* Typing Keyframes */

@keyframes typing {

    from {

        width: 0;

    }

    to {

        width: 100%;

    }

}

@keyframes blink {

    50% {

        border-color: transparent;

    }

}

/* Buttons */

.buttons button {

    padding: 12px 20px;
    margin-top: 13px;
    margin-right: 10px;

    cursor: pointer;

}

/* Responsive */

@media (max-width:768px) {

    #home {

        flex-direction: column-reverse;

        text-align: center;

    }

    #home h1 {

        font-size: 40px;

    }

    .profile {

        width: 200px;

        height: 200px;

    }

}


.bg-circle {

    position: absolute;

    width: 300px;

    height: 300px;

    background: blue;

    border-radius: 50%;

    filter: blur(120px);

    opacity: .2;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    transition: .3s;

    pointer-events: none;

}


/* FOOTER */

footer {

    background: black;

    color: white;

    padding: 10px;

    text-align: center;

    font-size: 12px;

    font-weight: 900;

    flex-shrink: 0;

}

/* RESPONSIVE */

@media (max-width:768px) {

    header {

        flex-direction: column;

        gap: 20px;

    }

    nav {

        justify-content: center;

    }

    #home h1 {

        font-size: 35px;

    }

    #home h2 {

        font-size: 24px;

    }

    #home p {

        font-size: 18px;

    }

    .profile {

        width: 140px;

        height: 140px;

    }

}